:root {
  --prim-background-color: #0891b2;
  --second-background-color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  height: 100%;

  display: grid;
  grid-auto-flow: row;
  grid-gap: 25px;

  background: linear-gradient(170deg, var(--prim-background-color) 20%, var(--second-background-color) 20%);
  background-repeat: no-repeat;
}

section.about-me-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
}
section.about-me-container .img-wrapper {
  width: 30%;
  min-width: 300px;

  position: relative;
  
}
section.about-me-container .img-wrapper div {
  position: absolute;
  bottom: 8%;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);

  font-size: 2rem;
}
section.about-me-container .img-wrapper img {
  width: 100%;
  box-shadow: black 0px 5px 8px;
}
section.about-me-container .about-me-info {
  display: grid;

  background-color: white;
  padding: 1rem;
  max-width: 70%;
  box-shadow: black 5px 5px 10px;
}


section.my-work-container {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}
section.my-work-container h2 {
  margin-bottom: 15px;
}
section.my-work-container .my-work {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 50px;
}
.my-work .work {
  background-color: white;;
  height: 300px;
  padding: 1rem;
  
  box-shadow: gray 2px 2px 10px;
  border-radius: 5px;

  display: grid;
  grid-gap: 15px;
  grid-template-rows: 40% 1fr;
}
.my-work .work img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
img.plates {
  object-position: 50% 60%;
}
img.silhouette {
  object-position: 50% 30%;
}
img.clothing {
  object-position: 50% 25%;
}
.my-work .work > div {
  position: relative;
}
.my-work .work > div .links {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  gap: 10px;
}
.my-work .work > div .links > div {
  width: 24px;
  height: 24px;

  cursor: pointer;
}
.my-work .work > div .links > div:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(981%) hue-rotate(159deg) brightness(96%) contrast(94%);
}
.my-work .work .github-icon {
  background-image: url("./assets/github.svg");
}
.my-work .work .external-link {
  background-image: url("./assets/arrow-up-right-from-square-solid.svg");
}

footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

  background-color: var(--prim-background-color);
  color: white;
  padding: 50px;
}
footer img {
  width: 60%;
  min-width: 300px;
  align-self: flex-end;
}
footer .footer-info {
  display: grid;
  grid-gap: 0px;
  align-items: center;
}
footer .footer-info > * {
  height: max-content;
}


@media (max-width: 650px) {

}